__pycache__/
*.py[cod]

# ===============================
# Virtual Environments
# ===============================
env/
*env/
env*

# ===============================
# Environment Variables (SECRETS)
# ===============================
.env
*.env
.env*

# ===============================
# Django
# ===============================
db.sqlite3
django-server-key.pem
media/
staticfiles/

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Custom
# ===============================
**/helper.txt
